body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-with-arrow {
  display: flex;
  align-items: center;
}

.text-with-arrow input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.text-with-arrow .arrow {
  margin-left: 10px;
  font-size: 16px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.banner {
  font-size: 20px;
}

.ad-customization {
  font: 40px "Helvetica Neue" bold;
}

input {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 10px 10px 10px 30px;
}

